*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 5vh;
}
h1.alert-msg {
    padding-top: 4rem;
    color: red;
    height: 10vh;
    /* border: solid 1px; */
    align-self: center;
    font-size: 3vh;
}
/*Estilos de header*/
header{
    position: fixed;
    background-color: #ffffff;
    display: flex;
    height: 13vh;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    width: 100%;
    align-items: center;
    box-shadow: 2px 5px 8px -5px rgb(0 0 0 / 39%);
}
header > .header-menu{
    text-align-last: center;
    font-size: 4vw;
}
body{
    background-color: #f7f7f7;
}
.btns-header{
    width: 100%;
    align-items: center;
    display: flex;
        flex: 2;
    justify-content: center;
    place-content: space-evenly;
}

.btn-search{
    position: relative;
}
.btn-search > input{
    padding: 0rem 2rem;
    height: 2.3rem;
    width: 100%;
    border-radius: 20px;
    border: solid #bbbbbb 0.1px;
}
.btn-search > input:focus{
    outline: none;
}
.btn-search > .fas{
    position: absolute;
    right: 12px;
    top: 6px;
}
.fas{cursor: pointer;}
/* Container*/
i.fas.fa-shopping-cart {
    align-self: center;
}
.container{
    display: flex;
    padding: 5rem 1rem;
    flex-direction: column;
    white-space: pre-line;
}
/*estilos de los productos */
.card {
    width: 20rem;
    color: #504f4f;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 19px 2px rgb(0 0 0 / 39%);
    box-shadow: 3px 6px 8px -2px rgb(0 0 0 / 39%);
    background: white;
}
.card-header {
    padding-top: 1rem;
    height: 40vh;
    flex: 6;
}
.card-body{
    flex: 4;
    display: flex;
    font-weight: bold;
    align-self: center;
    text-align: center;
    padding: 2rem;
}
.card-footer{
    padding: 2rem;
    display: flex;
    flex: 2;
    border-top: solid 1px #c5c5c5;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card-price{
    
    font-weight: bold;
    text-align-last: center;
    flex: 2;
    font-size: 1.3rem;
    
}
.card-button{
    font-size: 1.4rem;
    text-align: center;
    flex: 1;
}
img.card-img {
    width: 100%;
    height: 100%;
}
/* Stilo del select */
#categorySelect{
    width: 77%;
    border: none;
    border-bottom: 1px solid;
    font-size: 1rem;
    font-family: 'Roboto';
    color: #909090;
}
#categorySelect:focus{
    outline: none;
}
/*Estilo category-product*/
.category{
    margin-bottom: 2rem;
}
.category-title {
    color: #504f4f;
    padding: 5px;
    display: flex;
    border-bottom: 1px gray solid;
    font-size: 4vh;
}
.category-product {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
    justify-content: center;
}

/* MEDIA QUERY*/
@media (min-width: 820px) {
    .category-product {
        grid-template-columns: auto auto;
    }
    .container{

    }
    header > .header-menu{
        font-size: 2vw;
       display: flex;
    }
    header .mobil-btn{
        display: none;
    }
    header{
        padding: 0 6rem 0 6rem;
        height: 10vh;
    }
    .btns-header{
        place-content: flex-end;
    }
    .btns-header > *{
        margin-left: 1rem;
    }
    h2 {
        margin-left: 1rem;
    }
  }

  @media (min-width: 1000px) {
    .category-product {
        grid-template-columns: auto auto auto;
    }
  }
  @media (min-width: 1600) {
    .category-product {
        grid-template-columns: auto auto auto auto;
    }
  }
