*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    background-color: #ffffff;
    display: flex;
    height: 10vh;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    width: 100%;
    align-items: center;
    padding: 0rem 5rem 0rem 5rem;
    box-shadow: 2px 5px 8px -5px rgb(0 0 0 / 39%);
}
body{
    background-color: #f7f7f7;
}
.btns-header{
    display: flex;
    justify-content: flex-end;
    flex: 2;
}
.btn-search{
    margin-right: 3rem;   
    position: relative;
}
.btn-search:hover > input{width: 15vw;}
.btn-search > input{
    width: 0rem;
    transition: width 0.3s ease-in-out;
    border: none;
    border-bottom: solid 1px;
}
.btn-search > .fas{
    position: absolute;
    /* left: 4rem; */
    top: 1px;
    right: 1px;
}
.btn-search > input:focus{width: 15vw; outline: none;}
.btn-search > input:valid{width: 15vw;}
.fas{cursor: pointer;}
#container{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}
.card {
    color: #504f4f;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 19px 2px rgb(0 0 0 / 39%);
    box-shadow: 3px 6px 8px -2px rgb(0 0 0 / 39%);
    margin-left: 1rem;
    background: white;
    height: 25rem;
    width: 17rem;
    margin-top: 1rem;
}
.card-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 40vh;
    flex: 6;
}
.card-body{

    flex: 1;
    text-align-last: center;
    width: 100%;
}
.card-footer{
    display: flex;
    flex: 2;
    border-top: solid 1px #c5c5c5;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card-price{
    font-weight: bold;
    text-align-last: center;
    flex: 2;
    font-size: 1.3rem;
    
}
.card-button{
    font-size: 1.4rem;
    text-align: center;
    flex: 1;
}
img.card-img {
    /* image-rendering: auto; */
    width: 100%;
    height: 100%;
}