.loading{
    align-items: center;
    text-align-last: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    place-content: center;
}
.lds-dual-ring {
    display: inline-block;
    width: 148px;
    height: 140px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 120px;
    height: 120px;
    margin: 6px;
    border-radius: 50%;
    border: 17px solid rgb(85, 255, 0);
    border-color: rgb(85, 255, 0) transparent rgb(85, 255, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }